.cover__subtitle {
  width: 360px;
  margin: 32px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: calc(14px + (100vw - 320px) * 4 / 448);
    line-height: 114%;
    width: calc(288px + (100vw - 320px) * 72 / 448);
    margin: 16px 16px 0 16px;
  }
}