.intro {
  max-width: 690px;
  width: 100%;
  padding: 92px 0 0 148px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px){
  .intro {
    padding: 92px 0 0 calc(148px - (1280px - 100vw) * 100 / 256);
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .intro {
    max-width: 720px;
    padding: 88px calc(24px + (100vw - 768px) / 2) 0 calc(24px + (100vw - 768px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: calc(288px + (100vw - 320px) * 432 / 448);
    padding: 64px 16px 0 16px;
  }
}